@font-face {
  font-family: "montSuperBold";
  src: url("./fonts/MontserratZ-Bold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "montExtraBold";
  src: url("./fonts/MontserratZ-ExtraBold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "montBold";
  src: url("./fonts/MontserratZ-Bold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "montSemiBold";
  src: url("./fonts/MontserratZ-SemiBold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "montMedium";
  src: url("./fonts/MontserratZ-Medium.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "montRegular";
  src: url("./fonts/MontserratZ-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "montLight";
  src: url("./fonts/MontserratZ-Light.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "montExtraLight";
  src: url("./fonts/MontserratZ-ExtraLight.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "montThin";
  src: url("./fonts/MontserratZ-Thin.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
*,
*::after,
*::before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  outline: none;
  text-decoration: none;
}

:root {
  --s_BG: 103vmax;
  --s_pin: 55vmin;
  --s_cave: 92vmin;
  --s_mainBox: 60vmin;
  --s_boxWheel: 56vmin;
  --s_shadowWheel: 64vmin;
  --wheel_frame: 61vmin;
  --s_modalDialog: calc(min(50vh, max(350px, 50vmax)));
  --clipPathBoxes: polygon(0 0%, 0 38%, 48% 55%);
  --test: 46, 46, 46;
  --modalBgColor: #270e25b8;
  --white_color: #fff;
  --button_color: linear-gradient(to right, #ff1c26, #a81c1f);
}
body {
  /* font-family: sans-serif; */
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
}
.headerElements,
.linksNB,
.modalNB,
.modal-body,
.modal-content,
.modal-header,
.modal-footer,
#appendDivs,
#splashScreen,
._scratchCard,
._perspective,
._canvaTextContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
body,
span,
#splashScreen,
header .logoNB img,
header .headerElements,
._scratchCard img:not(.prizeImage),
._boxContainer,
.borderCave,
.modalNB,
.frame_img,
.modalImg,
.modalNB::after,
.modalNB::before,
._scratchCard,
._canvaTextContainer,
.elemAssets img {
  width: 100%;
  height: 100%;
}
#appendDivs {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
}
#splashScreen {
  position: absolute;
  display: none;
  top: 0;
  left: 0;
  background: crimson;
  /* background-image: url(./png/splashScreen.jpg); */
  background-size: cover;
  flex-direction: column !important;
  gap: 30px;
  z-index: 9999;
}

#splashScreen p {
  font-size: 1.4vw;
  color: #fff;
  text-transform: uppercase;
  font-weight: bold;
}

#appendDivs {
  width: 100%;
  height: 100vh;
  overflow: hidden;
  background-image: url(./png/bg-desktop.jpg);
  background-size: var(--s_BG) !important;
  background-position: center -170px !important;
  position: relative;
}

/*header style*/
/*header style*/
/*header style*/

header {
  width: 100%;
  height: 10vh;
  max-height: 100%;
  position: fixed;
  top: 0;
  color: var(--white_color);
  z-index: 5;
}

header .headerElements {
  width: 100%;
  max-width: 1900px;
  margin: auto;
  justify-content: space-between !important;
}
@media (max-width: 991px) {
  header .headerElements {
    max-width: 100%;
    justify-content: center !important;
  }
  .logoNB {
    display: none;
  }
}
@media (min-width: 992px) {
  header .headerElements {
    max-width: 890px;
  }
}

@media (min-width: 1400px) {
  header .headerElements {
    max-width: 1200px;
  }
}
@media (min-width: 1600px) {
  header .headerElements {
    max-width: 1400px;
  }
}
@media (min-width: 2000px) {
  header .headerElements {
    max-width: 1900px;
  }
}
@media (min-width: 3200px) {
  header .headerElements {
    max-width: 2600px;
  }
}
header .linksNB {
  gap: 5px;
  font-size: 1.4em;
}
header .logoNB {
  flex-basis: 35vh;
}
header .logoNB img {
  object-fit: contain;
  max-height: 80px;
}

header .linksNB {
  align-self: stretch !important;
  display: flex;
}
.linksNB a {
  display: inline-block;
  padding: 5px 10px;
  color: #fff;
  cursor: pointer;
  font-weight: bold;
  transition: background-color 0.3s ease-in-out;
}
.linksNB a:nth-child(1) {
  background-color: green;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}
.linksNB a:nth-child(2) {
  background-color: orangered;
}
.linksNB a:nth-child(3) {
  background-color: crimson;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}
.linksNB a:hover {
  background-color: #0a141b;
  animation: fadeIn 0.5s ease forwards;
}

.linksNB a:active {
  background-color: #0a141b;
}

/* Define the fade-in animation */
@keyframes fadeIn {
  from {
    transform: translateY(0px);
  }
  to {
    transform: translateY(3px);
  }
}

/*END header style*/
/*END header style*/
/*END header style*/

#appendDivs,
._boxContainer,
._canvaTextContainer,
.modal-dialog::before,
#splashScreen,
.borderFrame {
  background-position: center;
  background-repeat: no-repeat;
}

audio {
  display: none;
}

.wrapperBox {
  aspect-ratio: 16/9;
  position: relative;
  /* top: 2%; */
}
.mainbox {
  position: relative;
  width: var(--s_mainBox);
  height: var(--s_mainBox);
  top: -2%;
}

._boxContainer {
  position: relative;
  overflow: hidden;
  background-size: var(--s_boxWheel);
  background-image: url(./png/wheel/roata_noua.webp);
  z-index: 2;
  border-radius: 50%;
}

span {
  display: flex;
  position: relative;
}

.clipPath {
  clip-path: var(--clipPathBoxes);
}

/*color and text position for each clipPath inside the wheel*/
/*color and text position for each clipPath inside the wheel*/
/*color and text position for each clipPath inside the wheel*/
/* 
.span1 {
  background-color: green;
}
.span2 {
  background-color: red;
}
.span3 {
  background-color: blue;
}
.span4 {
  background-color: rgb(9, 247, 68);
}
.span5 {
  background-color: cyan;
}
.span6 {
  background-color: purple;
}
.span7 {
  background-color: rgb(247, 54, 173);
}
.span8 {
  background-color: rgb(241, 219, 17);
}
.span9 {
  background-color: brown;
}
.span10 {
  background-color: crimson;
} */

/*END color and text position for each clipPath inside the wheel*/

._box1,
._box2,
._box3,
._box4,
._box3,
._box5,
._box6,
._box7,
._box8,
._box9,
._box10,
._shadow_wheel,
.cave {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.spin {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 85px;
  height: 85px;
  border-radius: 50%;
  background: transparent;
  font-weight: bold;
  cursor: pointer;
  z-index: 1000;
  border: none;
  outline: none;
}

.spin:active {
  width: 80px;
  height: 80px;
  font-size: 20px;
}
._pin img.animate {
  animation: animateArrow 0.5s ease infinite;
}

/*IMAGE SIZE*/
/*IMAGE SIZE*/
/*IMAGE SIZE*/
/*IMAGE SIZE*/

.pinImg {
  height: var(--s_pin);
  max-height: var(--s_pin);
}
.cave {
  width: fit-content;
  height: fit-content;
  top: 44%;
  z-index: 2;
}
.caveImg {
  height: var(--s_cave);
  max-height: 100%;
}

/*IMAGE SIZE*/
/*IMAGE SIZE*/
/*IMAGE SIZE*/
/*IMAGE SIZE*/
@keyframes animateArrow {
  50% {
    transform: rotate(-2deg);
  }
}

@media (max-width: 576px) {
  .mainbox {
    width: 100%;
    height: 50%;
  }
}

/*PIN*/
/*PIN*/

._pin {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
}

/*border asset*/
/*border asset*/
.borderCave {
  z-index: 4;
  position: absolute;
  border-radius: 50%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

._shadow_wheel {
  /* background: red; */
  z-index: 2;
  width: fit-content;
  height: fit-content;
}

._shadow_wheel img {
  width: var(--s_shadowWheel);
  height: var(--s_shadowWheel);
}

.borderCave .borderFrame {
  border: 15px solid transparent;
  /* border-image: conic-gradient(#ff0000, #00ff00, #0000ff, #ff0000) 1; */
  border-radius: 50%;
  width: 100%;
  height: 100%;
  animation: rotate 140s linear infinite;
  background-image: url(./png/wheel/wheel_frame.png);

  background-size: var(--wheel_frame);
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(-360deg);
  }
}

/* Modal Styles */
.modalNB {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  flex-direction: column;
  z-index: 1000;
}
.modalNB::after {
  content: "";
  position: absolute;
  top: 0;
  background-color: var(--modalBgColor);
  z-index: -1;
  backdrop-filter: blur(10px);
}
.modal-dialog {
  position: relative;
}
.modal-dialog::before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -100%);
  background-image: url(./png/elements/crown_card.png);
  background-size: 20vh;
  z-index: 1;

  /* animation: floating 10s ease-in-out infinite; */
}

@keyframes floating {
  0% {
    transform: translate(-50%, -100%);
  }
  50% {
    transform: translate(-50%, -96%);
  }
  100% {
    transform: translate(-50%, -100%);
  }
}
.modal-content {
  position: absolute;
  z-index: 1;
  color: var(--white_color);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: auto;
  padding: 20px;
  flex-direction: column;
}
.modal-dialog {
  width: var(--s_modalDialog);
  max-width: 100%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  border-radius: 5px;
}
.modalImg {
  object-fit: contain;
  top: 0;
  position: relative;
}

.modal-header {
  justify-content: space-between;
  border-bottom: 1px solid var(--white_color);
}

.modal-title {
  margin: 0;
}

.close {
  cursor: pointer;
}

.modal-body {
  padding: 20px;
  font-size: 3vmin;
  text-transform: uppercase;
  font-weight: bold;
  flex-direction: column;
  width: 100%;
}

.modal-footer {
  padding: 10px 0px;
  /* width: 90%; */
  margin: 0 auto;
}

.modalNew {
  width: 16%;
  height: 14vh;
  /* background: red; */
  position: relative;

  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  background-image: url(./png/elements/suport_text.png);
}
.modalNew div {
  height: 100%;
  width: 100%;
  color: white;
  font-weight: bold;
  font-size: 2em;
  /* background: #ececec; */
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Button Style (Adjust as needed) */
.btn {
  padding: 0.8em 2em;
  width: 100%;
  margin-left: 10px;
  background: var(--button_color);
  color: var(--white_color);
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 2vmin;
  margin: 0 auto;
}

._perspective {
  width: 100%;
  position: absolute;
  z-index: 10;
  text-align: center;
  flex-direction: column;
  justify-content: end;
  /* height: 90%; */
  bottom: 4%;
}
._tText,
._tText_s {
  font-weight: bold;
  color: #ececec;
  position: relative;
  text-transform: uppercase;
}
._tText {
  position: relative;
  font-size: 4vmin;
  transform: translate(24vh, 1vh);
}
._tText_s {
  font-size: 10vmin;
}

/*PART 1 ElementDesktopBg*/
/*PART 1 ElementDesktopBg*/
/*PART 1 ElementDesktopBg*/
/*PART 1 ElementDesktopBg*/
.elemAssets {
  position: absolute;
  width: 100%;
  height: 100%;
}
.elemAssets div {
  width: 20vh;
  height: 20vh;
  /* background: black; */
  position: absolute;
}
/*seven*/
.elemAssets div:nth-child(1) {
  right: 9%;
  top: -12%;
  width: 45vh;
  height: 46vh;
}
/*crown*/
.elemAssets div:nth-child(2) {
  left: 12%;
  top: 4%;
  width: 35vh;
  height: 35vh;
}
/*star*/
.elemAssets div:nth-child(3) {
  right: 30%;
  top: 4%;
  width: 12vh;
  height: 12vh;
}
/*dolar*/
.elemAssets div:nth-child(4) {
  left: 12%;
  bottom: 17%;
}

.elemAssets img {
  object-fit: contain;
}
/*PART 1 end ElementDesktopBg*/
/*PART 1 end ElementDesktopBg*/
/*PART 1 end ElementDesktopBg*/
/*PART 1 end ElementDesktopBg*/

/*PART 2 SCRATCH*/
/*PART 2 SCRATCH*/
/*PART 2 SCRATCH*/
/*PART 2 SCRATCH*/

._scrathContainer {
  max-width: 85vw;
  width: 100%;
  height: 70vh;
  position: relative;
  margin: auto;
  /* background-color: rgba(255, 0, 0, 0.219); */
  padding: 20px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
}

@media (max-width: 991px) {
  ._scrathContainer {
    max-width: 96vw;
  }
  ._scratchCardParent {
    flex-direction: column;
  }
}
._scratchCardParent {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: auto;
  /* gap: 10px; */
}
.frame_scratch {
  width: 100%;
  height: 32vh;
  position: relative;
  /* background-color: black; */
}
.prizeScratch {
  position: absolute;
  z-index: 1;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 2em;
}

._scratchCard {
  height: 100%;
  width: 85%;
  position: relative;
  /* position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); */
  user-select: none;
  /* background-image: url(./png/elements/framepilow.png); */
}
.frame_img {
  position: relative;
  z-index: 10;
  object-fit: cover;
}
._scratchCard img:not(.prizeImage) {
  position: absolute;
  z-index: 0;
  /* object-fit: cover; */
  /* filter: hue-rotate(307deg); */
  width: 100%;
  height: 100%;
  max-height: 320px;
}
.sc__canvas {
  width: 100%;
  height: 100%;
  z-index: 2;
  position: absolute;
  /* width: 100%;
  height: 100%; */
}

/* .prizeScratch::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50%;
  height: 50%;
  z-index: -1;
  background-image: url(./png/elements/crown.webp);
  background-size: contain;
} */
._canvaTextContainer {
  position: absolute;
  top: 0;
  z-index: 0;
  flex-direction: column;
  background-image: url(./png/elements/unscratched.webp);
  background-size: contain;
}
/*end PART 2 SCRATCH*/
/*end PART 2 SCRATCH*/
/*end PART 2 SCRATCH*/
/*end PART 2 SCRATCH*/

/*start prize SCRATCH*/
/*start prize  SCRATCH*/
/*start prize SCRATCH*/
/*start prize  SCRATCH*/
.prizeImage {
  z-index: 2;
  position: absolute;
  width: 15vh;
  height: 15vh;
  max-width: 40%;
  object-fit: contain;
  top: -20%;
  right: -10%;
  rotate: -12deg;
  filter: drop-shadow(0px 4px 7px black);
}
.prizeScratch {
  /* background-color: red; */
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-family: "montExtraBold";
  -webkit-text-stroke-width: medium;
  font-size: 4vmin;
}
.prizeScratch div {
  text-transform: uppercase;
  color: black;
  font-weight: bold;
  text-align: center;
  height: 38%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.prizeScratch div:nth-child(1) {
  font-size: 4em;
}
.prizeScratch div:nth-child(2) {
  /* font-size: 3.4em; */
  /* margin-top: -0.4em; */
}
.prizeScratch ._lineRON {
  font-size: 3em;
}
.prizeScratch ._lineRUN {
  font-size: 1.4em;
  line-height: 0.9;
}
/*end prize SCRATCH*/
/*end prize  SCRATCH*/
/*end prize SCRATCH*/
/*end prize  SCRATCH*/

.spinner {
  --R: 28px;
  --g1: #ff1d00 96%, #0000;
  --g2: #e1e1ed 96%, #0000;
  width: calc(2 * var(--R));
  height: calc(2 * var(--R));
  border-radius: 50%;
  display: grid;
  -webkit-mask: linear-gradient(#000 0 0);
  animation: spinner-maxc6n 2s infinite linear;
}

.spinner::before,
.spinner::after {
  content: "";
  grid-area: 1/1;
  width: 50%;
  background: radial-gradient(farthest-side, var(--g1))
      calc(var(--R) + 0.866 * var(--R) - var(--R))
      calc(var(--R) - 0.5 * var(--R) - var(--R)),
    radial-gradient(farthest-side, var(--g1))
      calc(var(--R) + 0.866 * var(--R) - var(--R))
      calc(var(--R) - 0.5 * var(--R) - var(--R)),
    radial-gradient(farthest-side, var(--g2))
      calc(var(--R) + 0.5 * var(--R) - var(--R))
      calc(var(--R) - 0.866 * var(--R) - var(--R)),
    radial-gradient(farthest-side, var(--g1)) 0 calc(-1 * var(--R)),
    radial-gradient(farthest-side, var(--g2))
      calc(var(--R) - 0.5 * var(--R) - var(--R))
      calc(var(--R) - 0.866 * var(--R) - var(--R)),
    radial-gradient(farthest-side, var(--g1))
      calc(var(--R) - 0.866 * var(--R) - var(--R))
      calc(var(--R) - 0.5 * var(--R) - var(--R)),
    radial-gradient(farthest-side, var(--g2)) calc(-1 * var(--R)) 0,
    radial-gradient(farthest-side, var(--g1))
      calc(var(--R) - 0.866 * var(--R) - var(--R))
      calc(var(--R) + 0.5 * var(--R) - var(--R));
  background-size: calc(2 * var(--R)) calc(2 * var(--R));
  background-repeat: no-repeat;
}

.spinner::after {
  transform: rotate(180deg);
  transform-origin: right;
}

@keyframes spinner-maxc6n {
  100% {
    transform: rotate(-1turn);
  }
}
