@font-face {
  font-family: "montSuperBold";
  src: url("./fonts/MontserratZ-Bold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "montExtraBold";
  src: url("./fonts/MontserratZ-ExtraBold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "montBold";
  src: url("./fonts/MontserratZ-Bold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "montSemiBold";
  src: url("./fonts/MontserratZ-SemiBold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "montMedium";
  src: url("./fonts/MontserratZ-Medium.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "montRegular";
  src: url("./fonts/MontserratZ-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "montLight";
  src: url("./fonts/MontserratZ-Light.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "montExtraLight";
  src: url("./fonts/MontserratZ-ExtraLight.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "montThin";
  src: url("./fonts/MontserratZ-Thin.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
*,
*::after,
*::before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  outline: none;
  text-decoration: none;
}

:root {
  --s_BG: 103vmax;
  --s_pin: 54vmin;
  --s_cave: 87vmin;
  --s_mainBox: 58vmin;
  --s_boxWheel: 56vmin;
  --s_shadowWheel: 63vmin;
  --s_wheel_frame: 60vmin;
  --s_modalDialog: calc(20vw + 6vh);
  --s_modalDialog_s: calc(16vw + 10vh);
  --clipPathBoxes: polygon(0 0%, 0 38%, 48% 55%);

  /* --s_md_text: calc(1.5vh + 1.7vw);
  --s_lg_text: calc(3vh + 1.5vw); */
  --fontSize: calc(1.7vw + 1.8vh);

  --modalBgColor: #270e25b8;
  --textShadow: #f11a1a;
  --white_color: #fff;
  --textColor2: #b9e2fff2;
  --button_color: linear-gradient(to right, #ff1c26, #a81c1f);
  --button_color-hover: linear-gradient(to left, #ff1c26, #a81c1f);
}
body {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  scroll-behavior: smooth;
  font-family: "montSemiBold";
  background: black;
  /* overflow: hidden; */
}
body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
  position: absolute;

  font-size: 100%;
}
body::after {
  background-size: cover !important;
}
::-webkit-scrollbar {
  width: 0;
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: #ff0000;
}

h2,
a {
  font-family: "montExtraBold";
  text-transform: uppercase;
}
.m_line1,
.m_line2,
.m_line3,
.modal-title,
.prizeScratch {
  font-family: "montExtraBold";
}
body::after {
  content: "";
  position: absolute;
  top: 0;
  background-size: cover;
  background-image: url(./png/bg-desktop.jpg);
  background-repeat: no-repeat;
  background-position: bottom;
  z-index: -1;
  /* height: 100vh !important; */
}

@media (max-width: 992px) {
  body::after {
    background-image: url(./png/bg-mobile.jpg);
  }
}
.headerElements,
.linksNB,
.modalNB,
.modal-body,
.modal-content,
.modal-header,
.modal-footer,
#appendDivs,
#splashScreen,
._scratchCard,
._perspective,
._canvaTextContainer,
.content-offer.scenario2,
.flexScenario,
.wrapp-all,
.scratchPrizeSmall,
.wrap-prizeSmall {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

body,
body::after,
span,
#splashScreen,
#appendDivs,
.wrapp-all,
._scratchCard img:not(.prizeImage),
.modalNB.scenario1 .modal-dialog::before,
.sc__canvas,
._boxContainer,
.borderCave,
.modalNB,
.frame_img,
.modalImg,
.modalNB::after,
.modalNB::before,
._scratchCard,
._canvaTextContainer,
.elemAssets,
.borderCave .borderFrame,
.elemAssets img,
.scratchPrizeSmall img,
.modal-body,
.modal-content,
.flexScenario,
.modalNew div {
  width: 100%;
  height: 100%;
}

#splashScreen {
  position: absolute;
  /* display: none; */
  top: 0;
  left: 0;
  background: crimson;
  /* background-image: url(./png/splashScreen.jpg); */
  background-size: cover;
  flex-direction: column !important;
  gap: 30px;
  z-index: 9999;
}

#splashScreen p {
  font-size: 1.4vw;
  color: var(--white_color);
  text-transform: uppercase;
  font-weight: bold;
}
.hero {
  flex: 1;
  height: 100%;
  overflow: hidden;
  z-index: 22;
}
.wrapp-all {
  background: #69010114;
  backdrop-filter: blur(3px);
  -webkit-backdrop-filter: blur(3px);
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 100%;
}
@media (max-width: 1024px) {
  .wrapp-all {
    justify-content: start;
    padding-top: 9vh;
  }
}
#appendDivs {
  /* padding: 20px 0 0; */
  position: relative;
  z-index: 20;
  gap: calc(1vh + 0.4vw);
  flex-direction: column;
}
#appendDivs:has(._s2) {
  /* margin-top: 5%; */
  flex-direction: column-reverse;
}
#appendDivs,
._boxContainer,
._canvaTextContainer,
.modal-dialog::before,
#splashScreen,
.borderFrame {
  background-position: center;
  background-repeat: no-repeat;
}

audio {
  display: none;
}

.wrapperBox {
  position: relative;
  margin: 2vh 0;
}

.mainbox {
  position: relative;
  width: var(--s_mainBox);
  height: var(--s_mainBox);
  top: 4%;
}

._boxContainer {
  position: relative;
  overflow: hidden;
  background-size: var(--s_boxWheel);
  background-image: url(./png/wheel/roata_noua.webp);
  border-radius: 50%;
  z-index: 2;
}
.flexScenario {
  gap: 20px;
}

span {
  display: flex;
  position: relative;
}

.clipPath {
  clip-path: var(--clipPathBoxes);
}

@keyframes floating {
  0% {
    transform: translate(0%, 0%) rotate(0deg);
  }
  50% {
    transform: translate(-10%, -10%) rotate(-10deg);
  }
  100% {
    transform: translate(0%, 0%) rotate(0deg);
  }
}
@keyframes floating-reverse {
  0% {
    transform: translate(0%, 0%) rotate(0deg);
  }
  50% {
    transform: translate(10%, 10%) rotate(10deg);
  }
  100% {
    transform: translate(0%, 0%) rotate(0deg);
  }
}
/*color and text position for each clipPath inside the wheel*/
/*color and text position for each clipPath inside the wheel*/
/*color and text position for each clipPath inside the wheel*/
/* 
.span1 {
  background-color: green;
}
.span2 {
  background-color: red;
}
.span3 {
  background-color: blue;
}
.span4 {
  background-color: rgb(9, 247, 68);
}
.span5 {
  background-color: cyan;
}
.span6 {
  background-color: purple;
}
.span7 {
  background-color: rgb(247, 54, 173);
}
.span8 {
  background-color: rgb(241, 219, 17);
}
.span9 {
  background-color: brown;
}
.span10 {
  background-color: crimson;
} */

/*END color and text position for each clipPath inside the wheel*/

._box1,
._box2,
._box3,
._box4,
._box3,
._box5,
._box6,
._box7,
._box8,
._box9,
._box10,
._shadow_wheel,
.cave,
.spin,
._pin,
.borderCave,
.modal-content,
.modal-body:has(.scenario2) ._of .m_line2 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.spin {
  width: 12vh;
  height: 12vh;
  border-radius: 50%;
  background: transparent;
  font-weight: bold;
  cursor: pointer;
  z-index: 1000;
  border: none;
  outline: none;
}

.spin:active {
  width: 80px;
  height: 80px;
}
._pin img.animate {
  animation: animateArrow 0.5s ease infinite;
}

/*IMAGE SIZE*/
/*IMAGE SIZE*/
/*IMAGE SIZE*/
/*IMAGE SIZE*/

.pinImg {
  height: var(--s_pin);
  max-height: var(--s_pin);
}
.cave {
  width: fit-content;
  height: fit-content;
  z-index: 2;
}
.caveImg {
  height: var(--s_cave);
  max-height: 100%;
}

/*IMAGE SIZE*/
/*IMAGE SIZE*/
/*IMAGE SIZE*/
/*IMAGE SIZE*/

@keyframes animateArrow {
  50% {
    transform: rotate(-2deg);
  }
}

/*PIN*/
/*PIN*/

._pin {
  z-index: 2;
}

/*border asset*/
/*border asset*/
.borderCave {
  z-index: 4;
  position: absolute;
  border-radius: 50%;
}

._shadow_wheel {
  z-index: 2;
  width: fit-content;
  height: fit-content;
}

._shadow_wheel img {
  width: var(--s_shadowWheel);
  height: var(--s_shadowWheel);
}

.borderCave .borderFrame {
  border: 15px solid transparent;
  border-radius: 50%;
  animation: rotate 140s linear infinite;
  background-image: url(./png/wheel/wheel_frame.png);
  background-size: var(--s_wheel_frame);
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* Modal Styles */
.modalNB {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  flex-direction: column;
  z-index: 1000;
}
.modalNB::after {
  content: "";
  position: absolute;
  top: 0;
  background-color: var(--modalBgColor);
  z-index: -1;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
}
.modal-dialog {
  position: relative;
  /* height: auto; */
}

.modalNB.scenario1 .modal-dialog::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -100%);
  background-image: url(./png/elements/crown_card.png);
  background-size: calc(6vw + 4vh);
  z-index: 1;
}

.modal-content {
  position: absolute;
  z-index: 1;
  color: var(--white_color);
  padding: 20px;
  flex-direction: column;
}

@media (max-width: 991px) {
  .modal-content {
    width: 100%;
  }
  .modalNB {
    padding: 33px 0 0 0;
  }
  .modal-title {
    margin: 10px 0 15px 0;
  }
  .modalNB.scenario2 .modal-dialog {
    height: fit-content;
  }
}
.modal-dialog {
  height: var(--s_modalDialog);
  max-width: 100%;
  border-radius: 5px;
  top: -4%;
}
.modalImg {
  object-fit: contain;
  position: relative;
}

.modal-header {
  justify-content: space-between;
  border-bottom: 1px solid var(--white_color);
}

.modal-title {
  margin: 0;
  height: 20%;
  display: flex;
  margin: 20px 0 10px 0;
  justify-content: center;
  align-items: end;
}

/*modaltext*/
.modal-body:has(.scenario1) {
  font-size: var(--fontSize);
}
@media (max-width: 320px) {
  .modal-body:has(.scenario1) {
    font-size: clamp(3vh, 2.5vw, 18px);
  }
}
.content-offer.scenario2 {
  flex-direction: column !important;
  gap: 20px;
}
.modal-content.scenario2 {
  position: relative;
}
.modalNB.scenario2 .modal-dialog {
  height: auto !important;
}
.modalNB.scenario2 .modal-body {
  font-size: var(--s_md_text);
}

.modal-body:has(.scenario2) ._of {
  position: relative;
  width: var(--s_modalDialog_s);
  /* height: 8em; */
}

.modal-body:has(.scenario2) ._of .m_line2 {
  width: 100%;
}

@media (max-width: 991px) {
  .flexScenario {
    flex-direction: column;
  }
  /* .modal-body:has(.scenario2) ._of img {
    width: 35vh !important;
  } */
}
.content-offer {
  line-height: 1.1;
  text-align: center;
}

.close {
  cursor: pointer;
}

.modal-body {
  position: relative;
  font-size: 3vmin;
  text-transform: uppercase;
  font-weight: bold;
  flex-direction: column;
  height: auto !important;
}

.modal-footer {
  margin: 12px auto 0 auto;
}
.modal-footer ._btn {
  font-size: calc(var(--s_md_text) / 1.7);
}

.modalNew {
  width: 16%;
  height: 14vh;
  position: relative;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  background-image: url(./png/elements/suport_text.png);
}
.modalNew div {
  color: var(--white_color);
  font-weight: bold;
  font-size: 2em;
  display: flex;
  justify-content: center;
  align-items: center;
}

._btn {
  font-family: "montExtraBold";
  background: var(--button_color);
  color: var(--white_color);

  cursor: pointer;
  border-radius: 8px;
  text-transform: uppercase;
}

/* Button Style (Adjust as needed) */
.btnNew {
  padding: 0.5em 2.5em;
  width: fit-content;
  border: none;
  text-transform: uppercase;
  margin: 0 auto;
  z-index: 100;
}

._btn:hover {
  background: var(--button_color-hover);
  color: var(--white_color);
  transition: all 0.3s ease;
}

._perspective {
  width: 100%;
  position: relative;
  z-index: 10;
  text-align: center;
  flex-direction: column;
  justify-content: end;
  line-height: 1.1;
  font-family: "montExtraBold";
  bottom: 0;
  font-size: 1.4vh;
}
@media (max-width: 768px) {
  ._perspective {
    font-size: 1.3vh;
  }
}
@media (max-width: 1200px) {
  ._perspective {
    font-size: 1.2vh;
  }
}

._perspective,
.content-offer,
.modal-title {
  filter: drop-shadow(2px 3px 3px black);
}
._perspective div:nth-child(1),
.modal-title {
  color: var(--textColor2);
}
._perspective div:nth-child(2),
.content-offer {
  text-shadow: var(--textShadow) 0px 0px 10px, var(--textShadow) 0px 0px 30px,
    var(--textShadow) 0px 0px 10px, var(--textShadow) 0px 0px 30px,
    var(--textShadow) 0px 0px 10px, 2px 3px 0px rgba(206, 206, 206, 0);
  color: var(--white_color);
}

._tText,
._tText_s {
  font-weight: bold;
  color: var(--white_color);
  position: relative;
  text-transform: uppercase;
}
._tText {
  position: relative;
  font-size: 2em;
}
._tText_s {
  font-size: 5em;
}

.container_terms {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
}
.container_terms::after {
  content: "";
  width: 100%;
  height: 0.15em;
  background: var(--button_color-hover);
  position: absolute;
  bottom: 0;
  left: 0;
}
/*PART 1 ElementDesktopBg*/
/*PART 1 ElementDesktopBg*/
/*PART 1 ElementDesktopBg*/
/*PART 1 ElementDesktopBg*/
.elemAssets {
  position: absolute;
}
.elemAssets div {
  width: calc(10vw + 13vh);
  height: calc(10vw + 13vh);
  position: absolute;
}
/*seven*/
.elemAssets div:nth-child(1) {
  right: 10%;
  top: -14%;
  width: calc(21vw + 7vh);
  height: calc(21vw + 8vh);
  animation: floating-reverse 35s ease-in-out infinite;
}
/*crown*/
.elemAssets div:nth-child(2) {
  left: 12%;
  top: 1%;
  width: 35vh;
  height: 35vh;
  animation: floating 35s ease-in-out infinite;
}
/*star*/
.elemAssets div:nth-child(3) {
  right: 35%;
  top: 4%;
  width: 12vh;
  height: 12vh;
}
/*dolar*/
.elemAssets div:nth-child(4) {
  left: 13%;
  bottom: 17%;
  width: 24vh;
  height: 30vh;
  z-index: 4;
  animation: floating-reverse 35s ease-in-out infinite;
}

.elemAssets img {
  object-fit: contain;
}
/*PART 1 end ElementDesktopBg*/
/*PART 1 end ElementDesktopBg*/
/*PART 1 end ElementDesktopBg*/
/*PART 1 end ElementDesktopBg*/

/*PART 2 SCRATCH*/
/*PART 2 SCRATCH*/
/*PART 2 SCRATCH*/
/*PART 2 SCRATCH*/

._scrathContainer {
  max-width: 85vw;
  width: 100%;
  height: auto;
  position: relative;
  margin: 10px auto;
  padding: 20px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

._scratchCardParent {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: auto;
  z-index: 5;
  gap: 63px;
}
.frame_scratch {
  width: calc(20vw + 9vh);
  height: calc(12vw + 9vh);
  position: relative;
}
.prizeScratch {
  position: relative;
  z-index: 1;

  color: var(--white_color);
}

._scratchCard {
  position: relative;
  user-select: none;
}
.frame_img {
  position: relative;
  z-index: 10;
  object-fit: cover;
}
._scratchCard img:not(.prizeImage) {
  position: absolute;
  z-index: 0;
  max-height: 500px;
  /* filter: grayscale(1); */
}
.sc__canvas {
  z-index: 2;
  position: absolute;
  filter: drop-shadow(1px 1px 2px black);
}

.scratchPrizeSmall {
  position: relative;
  background: blue;
  width: 24%;
  height: 3em;
  height: auto;
  padding: 1em;
  font-size: var(--fontSize);
  /* background-image: url(./png/elements/suport2.webp); */
  text-transform: uppercase;
  line-height: 0.9;
  z-index: 2;
  gap: 10px;
  color: white;
  filter: drop-shadow(2px 4px 6px black);
  /* left: -34px;
  top: -65px; */
}
.scratchPrizeSmall img {
  position: absolute;
  z-index: 2;
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.wrap-prizeSmall {
  gap: 10px;
  z-index: 2;
  font-size: calc(var(--fontSize) / 1.8);
}
/*end PART 2 SCRATCH*/
/*end PART 2 SCRATCH*/
/*end PART 2 SCRATCH*/
/*end PART 2 SCRATCH*/

/*start prize SCRATCH*/
/*start prize  SCRATCH*/
/*start prize SCRATCH*/
/*start prize  SCRATCH*/
.prizeImage {
  z-index: 2;
  position: absolute;
  width: calc(6vw + 4vh);
  height: calc(5vw + 5vh);
  max-width: 40%;
  object-fit: contain;
  top: -20%;
  right: -10%;
  rotate: -12deg;
  filter: drop-shadow(-4px 4px 6px black);
}
.prizeScratch {
  /* background-color: red; */
  font-size: calc(2.5vh + 2vw);
  line-height: 1;
  filter: drop-shadow(2px 6px 4px #161616);
}
.prizeScratch div {
  text-transform: uppercase;
  color: var(--white_color);
  font-weight: bold;
  text-align: center;
  height: 34%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-shadow: var(--textShadow) 0px 0px 10px, var(--textShadow) 0px 0px 30px,
    var(--textShadow) 0px 0px 10px, var(--textShadow) 0px 0px 30px,
    var(--textShadow) 0px 0px 10px, 2px 3px 0px rgba(206, 206, 206, 0);
}
.prizeScratch div:nth-child(1) {
  font-size: 1.8em;
  margin-bottom: -10px;
}
.prizeScratch ._lineRON {
  font-size: 1.64em;
  margin-top: -10px;
}
.prizeScratch ._lineRUN {
  font-size: 0.9em;
}
/*end prize SCRATCH*/
/*end prize  SCRATCH*/
/*end prize SCRATCH*/
/*end prize  SCRATCH*/
@media (orientation: portrait) {
  #appendDivs {
    justify-content: center;
    height: auto;
  }
  .prizeImage {
    top: -13%;
    right: -3%;
  }
  #appendDivs:has(._s2) {
    /* margin-top: 5%; */
    justify-content: start;
  }
  .prizeScratch {
    line-height: unset;
    font-size: calc(2.6vh + 1.5vw);
  }
  ._scrathContainer {
    margin: 0 auto;
  }
  .modal-content {
    padding: 0;
  }
  .modal-dialog {
    width: 100%;
  }

  .modalNB.scenario1 .modal-dialog::before {
    background-size: calc(19vw + 3vh);
  }
  .elemAssets {
    display: none;
  }

  /* ._tText {
    transform: none;
    font-size: calc(var(--s_lg_text) / 1.4);
    margin-bottom: 6px;
  }
  ._tText_s {
    font-size: calc(var(--s_lg_text) * 2);
    line-height: 1;
  } */
}

@media (max-width: 1023px) {
  .mainbox {
    top: 1em;
  }
  body::after {
    background-size: 550%;
  }
  .caveImg {
    height: calc(100vw + 8vh);
  }
  .mainbox {
    width: calc(65vw + 8vh);
    height: calc(65vw + 8vh);
  }
  ._boxContainer {
    background-size: calc(60vw + 8vh);
  }
  .borderCave .borderFrame {
    background-size: calc(66vw + 8vh);
  }
  ._shadow_wheel img {
    width: calc(69vw + 8vh);
    height: calc(69vw + 8vh);
  }
  .pinImg {
    height: calc(57vw + 8vh);
    max-height: calc(57vw + 8vh);
  }
  .modal-dialog {
    height: calc(55vw + 6vh);
    margin-bottom: 10em;
  }
  .modal-body:has(.scenario1) {
    font-size: calc(5.7vw + 1.3vh);
  }
  .btnNew {
    font-size: calc(3vw + 1.2vh);
  }
  ._scratchCardParent {
    gap: 13px;
  }
  .frame_scratch {
    width: calc(48vw + 8vh);
    height: calc(20vw + 8vh);
  }

  .modal-body:has(.scenario2) ._of {
    width: calc(32vw + 22vh);
    height: auto;
  }
  .modal-body:has(.scenario2) .m_line1 {
    font-size: 1em;
  }
  .modal-body:has(.scenario2) .modal-title {
    font-size: 1.4em;
  }

  .modal-dialog:has(.scenario2) .btnNew {
    padding: 0.6em 1.5em;
  }
}

@media (max-width: 991px) {
  ._scrathContainer {
    max-width: 96vw;
    padding: 15px 0px 15px;
  }
}
@media (max-width: 768px) {
  .btnNew {
    font-size: 0.75em;
  }
  ._scratchCardParent {
    flex-direction: row;
    flex-wrap: wrap;
  }
  .frame_scratch {
    width: calc(27vw + 7vh);
    height: calc(20vw + 8vh);
  }
}
.loading-spinner::after {
  content: "";

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 4px solid rgba(0, 0, 0, 0.1);
  border-top: 4px solid #007bff; /* Change color as needed */
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spin 1s linear infinite;
  animation-play-state: paused;
}
.loading-spinner {
  z-index: 4124142;
  display: none;
  top: 50;
  left: 50;
  position: fixed;
  width: 90%;
  height: 90%;
  background-color: rgba(50, 50, 50, 0.46);
}

@keyframes spin {
  0% {
    transform: translate(-50%, -50%) rotate(0deg);
  }
  100% {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}
